{% extends "lab_6/layout/base.html" %}

{% block content %}
    <!-- ChatBox Section -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
	
	
	
    <section name="Chatbox">
       <div class="wrapper">
          <div class="chat-box">
             <div class="chat-head">
                <h2>Chat</h2>
                <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16">
             </div>
             <div class="chat-body">
                <div class="msg-insert" id="msg-insert">
                </div>
                <div class="chat-text">
                   <textarea type="text" class="chat-input" placeholder="Press Enter"></textarea> 
				   <button class="send-button" style="position:absolute; margin:5px;">SEND</button>
                </div>
				
             </div>
          </div>
       </div>
    </section>
	
	
    {% endblock %}
