{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <br>
    <hr>
    <div class="row-detail" style="display:flex;">
        <div class="column-img"> 
            <img src = {{movie.poster}}>
        </div>
            <div class="column-table"> 
                <table> 
                    <tr>
                        <th> Title </th>
                        <td> {{movie.title}}</td>
                    </tr>
                    <tr>
                        <th> Date Released </th>
                        <td> {{movie.released}}</td>
                    </tr>
                    <tr>
                        <th> Title </th>
                        <td> {{movie.title}}</td>
                    </tr>
                    <tr>
                        <th> Genre </th>
                        <td> {{movie.genre}}</td>
                    </tr>
                    <tr>
                        <th> Director </th>
                        <td> {{movie.director}}</td>
                    </tr>
                </table>
                    <h3> Plot : </h3>
                    <br>
                    <p>{{movie.plot}}</p>

            </div>
    </div>

    

    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}
