{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    

    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>
<style>
    body {
        background: rgba(0, 0, 0, 0.5);
        background-image: 
            url(https://s3.amazonaws.com/wizforumbucket/monthly_2016_11/598913-epic-anime-awesome-wallpapers.jpg.95ac024beb8bc1cb77b8f052b491cb66.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin-top: 30px;
    }

    table, th, td {
        color:white;
        border: 1px solid white;
    }

    table.diary {
        color:white;
        border: 1px solid white;
    }

    div.sect {
      background:rgba(255,255,255,0.5);
    }

    tr {
        color:black;
    }

    .subject{
        font-size: 20px;
        font-family: "Comic Sans MS";
        color: #6650ff;
    }
    .value{
        font-size: 30px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #ff102c;
    }

</style>

<body>
    <header ">
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
