{% extends "base.html" %}
    {% block title %} Pesan dari {{ name }} {% endblock %}
    {% block content %}
    <textarea readonly rows="5" class="form-control" style="margin-top: 60px">&quot;{{message}}&quot;-{{name}} 
        by {{ email }}
    </textarea>
    {% endblock %}

    {% block footer %}
        <p> &copy; {{name}} </p>
    {% endblock %}
