 {% extends "base.html" %}
    {% block content %}
    <center>
    <div class="sect container" style="background: rgba(255,255,255,0.5);"> <!-- Add tag -->
    <img src=" https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/22008251_1697995353565245_5791823235997370078_n.jpg?oh=46898cb87024c2ca26ea252b91109dfd&oe=5A3BDDF3" width=250px height=250px>
    <section name="bio" >
        <h1 style="margin-top: 10px">Portofolio</h1>
        <hr/>
        <h2>Bio</h2>
        <p>
            {{content}}

        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
            {% for ii in about_me %}
            <article>{{ii}}</article>
            {% endfor %}        
    </section>
    <hr/>
    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
    </div class="sect"> 
    </center>
    {% endblock %}
   <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'lab-4:index' %}">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- LINK MENUJU table, dan link menuju home#form -->
            <li><a href="{% url 'lab-4:index' %}#form"> Form </a></li>
            <li><a href="{% url 'lab-4:result_table' %}"> Messages Table </a> </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav> 

