{% extends "base.html" %}

    {% block title %} Kumpulan Pesan {% endblock %}

    {% block content %}
    <!--  Populate semua isi pesan dari model -->
    <table class="table" style="background: rgba(0, 0, 0, 0.6); margin-top: 60px; width: 100%;">
        <thead style="color:white">
            <th>Nama</th>
            <th>Email</th>
            <th>Pesan</th>
            <th>Dibuat Pada</th>
        </thead>
        <tbody style="background:rgba(255,255,255,0.5);">
            <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
            {% for i in message %}
            {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
            <tr class="warning" style="background: rgba(255, 135, 177, 0.5);"> {% else %} <tr class="success" style="background: rgba(175, 226, 255,0.5);">
                {% endif %}
                <td style= "color:black"> {{i.name}} </td>
                <td style= "color:black"> {{i.email}} </td>
                <td style= "color:black"> {{i.message}} </td>
                <td style= "color:black"> {{i.created_date.time}} </td>
            </tr>             
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}
