{% load staticfiles %}
{% load static %}
<head> 
	<title>
		Lab 8 by {{author}}
	</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
</head>

<style> 
	
	table, th, td {
		border: 1px solid black;
		text-align: left;
		border-collapse: collapse;
		padding: 5px;
	}

	table th {
		background-color: rgba(107, 143, 239, 0.5);
	}

	table td {
		background-color: rgba(239, 107, 107, 0.5);
	}

	.data {
		margin: 10px 0px 10px 0px;
	}

	body {
		background-color: grey;
	}

	.latest-feed-title h1{
		color:white;
	}

	.story {
		color :#3b5998;
	}

	.date {
		color:#8b9dc3	;
	}

	.data h1 {
		color:white;
	}

	.data h2 {
		color:white;
	}

	.data h3 {
		color:white;
	}

	.latest-feed h3 {
		color:black;
	}

	.latest-feed img {
		border-radius: 5px;
		border: 1px solid grey;
	}

	.latest-feed {
		padding:10px;
		word-wrap: break-word;
		border-radius: 5px;
	}

	.feed-block1 {
		position:relative;
		display: inline-block;
		margin-right: 10px;
	}

	.feed-pic{
		max-height: 500px;
		max-width: 500px;
	}

	#postInput {
		width:30%;
	}



</style>

<body> 
	<div id="lab8">
	</div>
	<script src="{% static 'js/lab_8.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

