{% extends "base.html" %}
{% block content %}
<div class="sect">
<h3 style="text-align: center; color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Hi all, This is my complete biodata</h3>
<table align="center" style="text-align: center; background:rgba(0,0,0,0.5);">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
</div>
<br><br>
{% endblock %}
