{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        background: rgba(0, 0, 0, 0.5);
    }
    p {
        color: white; 
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
    }
</style>
<div class="center_screen">
    <p><b>Hello, this is {{ name }}. {{ content }}.<b></p>
</div>
{% endblock %}