{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Teman Teman Saya</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
	
	
	
{% endblock %}
{% block javascript %}
    <script>
	
		var delete_friend = function(friend_id) {
			$.ajax({
                method:"POST",
                url: "{% url 'lab-7:delete-friend' %}",
                data: { id: friend_id },
                success: function(response) {
                	alert("success")
                	$('#elem' + friend_id).remove()
                },
                error: function(error){
                	console.log('error')
                }
            });
		}
		
        $( document ).ready(function () {
            {}
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:fr_ls' %}",
                success: function (response) {
                    $('#friend_list').append('haha')
					for (f in response.fl) {
						friend = response.fl[f]
						html = '<a class="list-group-item clearfix" id="elem' + friend.id + '">' + friend.friend_name + ' (' + friend.npm + ')'
						+ '<span class="pull-right">'
						+ '<span class="btn btn-xs btn-default" onClick="delete_friend(' + friend.id + ')"> Hapus Teman </span></span></a>'
						$('#friend-list').append(html)
					}
                },
                error: function(error){
					alert("error hehe")
                }
            });
        });
    </script>
{% endblock %}
